footer {
    text-align: center;
    padding: 1% 0 1% 0;
    background-color: #efefef;
    box-shadow: 1px 1px 8px 1px rgb(34, 34, 34);
    color: #066a75;
    position:fixed;
    bottom:0;
    width: 100%;
}