*, *:before, *:after { 
  margin:0;
  padding:0;
  font-family: Arial,sans-serif;
}
body { 
  margin:0;
  padding:0;
  height: auto;

}
nav{
  background: #ffffff;
  height: 80px;
  width: 100%;
  box-shadow: 1px 1px 8px 1px rgb(34, 34, 34);
 /* position:fixed;
  z-index:20; */
}
label.logo{
  color: rgb(168, 44, 44);
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
 
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: #066a75;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  transition: .5s;
  color: #2f1aec;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
  .dp-menu ul li ul {
    display: block;
  }  
}

@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  .dp-menu ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgb(199, 197, 197);;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index:20;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #974343;
  }
  #check:checked ~ ul{
    left: 0;
  }
  .dp-menu ul li ul {
    display: block;
  }  
}
/*sub menu*/
.dp-menu ul ul {
  display: none;
  right: 0;
  position: absolute;
  background-color: #066a75;
  text-align: center;
  line-height: 40px;
}

.dp-menu ul li:hover ul {
  display: block;
  
}

.dp-menu ul ul {
  width: 15%;
  height: auto;
}
.dp-menu ul ul li #sm:hover{
  color: white;
  background-color: #066a75;
}

.dp-menu ul ul li a {
  display: grid;
  font-size:12px;
  line-height: 40px;
}